.chat-header
  background-color #2D384A !important
  margin 0
  border 0
  .header
    color #FFF
    text-align right
    border-bottom 1px solid black
    h1
      margin-right 10px
      small
       color #FFCB2C

.user-info
  color #FFF
  min-height 70px
  border-right 1px solid rgba(235, 239, 242, 0.5)
  padding 0
  .user
    width 100%
    border-bottom 0px
    margin 10px auto
    a
     color #FFF